# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.log
*.pot
*.pyc
*.pyo
*.db
db.sqlite3
media/
staticfiles/
static_root/
.env
*.sqlite3

# VSCode
.vscode/

# Mac
.DS_Store

# Docker
*.pid
*.seed
*.bak
*.swp
*.swo

# Virtualenv
venv/
ENV/
env/
.venv/

# Migrations
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo

# System
Thumbs.db

# Coverage
htmlcov/
.coverage
.tox/
.nox/
.cache/
.pytest_cache/
.coverage.*

# Pip
pip-log.txt
pip-delete-this-directory.txt

# Gunicorn
gunicorn.log

# Nginx
nginx/logs/
